@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Ubuntu+Mono&display=swap');

html {
    scroll-behavior: smooth;
}
.navbar-class {
    background: #333;
    position: fixed;
}

:root {
    --font-text :'Ubuntu', sans-serif;
    --font :'Quicksand', sans-serif;
}

.navbar-items {
    font-family: var(--font);
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    margin-right: 50px;
    padding: 17px;
}

.nav-items {
    font-family: var(--font);
    color: black;
}

.nav-bar-items a {
    color: white;
    text-align: center;
    font-size: 17px;
    font-family: var(--font);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}
.nav-item {
    padding: 15px;
    font-family: var(--font);
}

.nav-item:hover {
    color: rgb(20, 212, 46);
    background-color: black;
    border-radius: 7px;
    transition: 0.2s ease-in;
}
.active {
    color: rgb(20, 212, 46);
    background-color: black;
    border-radius: 7px;
    transition-duration: 0.7s;
}
.navbar-items:hover {
    color: rgb(20, 212, 46);
    border-radius: 7px;
}

.logo {
    border: 2.5px solid white;
    border-radius: 10px;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

/* paralax img styling */

.intro-paralax{
    background: url("/static/img/Plants.jpg");
    width: 100%;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 956px) {
    .intro-paralax {
        background: black;
        width: 100%;
        min-height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
  }

.head-name{
    color: rgb(112, 111, 111);
    transform: translateY(350px);
    font-family: var(--font);
    font-weight: bolder;
}

.intro-typing{
    display: inline-flex;
    margin-left: 35%;
    color: rgb(20, 212, 46);
    background:none;
    transform: translateY(350px);
}

.static-txt {
    color: white;
    font-family: var(--font-text);
}

.typing {
    margin-left: 10px;
    font-family: var(--font);
    border-bottom: 4px solid rgb(20, 212, 46);
    
}

.typing::after{
    content:"";
    position: absolute;
    width: 1px;
    height: 100%;
    right: -5px;
    border-right: 2.5px solid black;
    animation: blink 0.7s infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity:1;
    }
}



/*.intro {
    display: flex;
    color: white;
    height: 100%;
}

.typing {
    position: relative;
    margin-left: 10px;
}


*/

