@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Ubuntu+Mono&display=swap');
html {
    scroll-behavior: smooth;
}
.navbardiv-class nav {
    background: #333;
    /*box-shadow:  5px 5px 9px #1a1919,
             -5px -5px 9px #333; */
    position: fixed;
}

:root {
    --font-text :'Ubuntu', sans-serif;
    --font :'Quicksand', sans-serif;
}

footer {
    margin: 0;
}


body {
    padding-top: 150px;
  }
@media (max-width: 979px) {
    body {
      padding-top: 120px;
    }
  }

.navbar-items {
    font-family: var(--font-text);
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    margin-right: 50px;
    padding: 15px;
}

.nav-items {
    font-family: var(--font-text);
    color: black;
}



.nav-bar-items a {
    color: white;
    text-align: center;
    font-size: 17px;
    font-family: var(--font-text);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}


.nav-item {
    padding: 15px;
}

.nav-item:hover {
    color: rgb(20, 212, 46);
    background-color: black;
    border-radius: 7px;
    transition-duration: 0.7s;
}

.navbar-items:hover {
    color: rgb(20, 212, 46);
    border-radius: 7px;
}


.headline {
    font-family: var(--font);
}

.headline-intro {
    letter-spacing: 3px;
    font-weight: bolder;
}

.logo {
    border: 2.5px solid white;
    border-radius: 10px;
}

.intro-img {
    width: 300px;
    height: 300px;
    margin-top: auto;
    margin-bottom: auto;
}

.intro-para {
    font-family: var(--font-text);
    font-size: 17px;
    line-height: 1.6;
}

.para-icon {
    width: 20px;
    height: 20px;
}

.footer-note {
    bottom: 0;
    position:static;
    margin-left: auto;
    font-family: var(--font-text);
}

.para-icon-h {
    width: 100px;
    height: 25px;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

