{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="intro-paralax container-fluid">
  <div class="display-1 head-name text-center">VISHARAD</div>
  <div class="container pt-3">
    <div class="intro-typing">
      <h1 class="static-txt">I'm</h1>
      <h1 class="typing"></h1>
    </div>
  </div>
</div>

<div class="bg-info">
  <ul>
    <li> this is about section</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
    <li>Visharad</li>
  </ul>
</div>
{% endblock%}